<input type="text" readonly="true" value="<%= @countdown_value %>" class="js-countdown" data-max-time="<%= @countdown_max %>" data-min-time="<%= @countdown_min %>" data-wait-ms="<%= @countdown_wait_ms %>">
<button class="js-add-button">Add</button>

<table>
  <theader>
    <tr>
      <th>Seconds<th>
    </tr>
  </theader>
  <tbody>
    <% @snapshots.each do |snapshot| %>
      <tr>
        <td><%= snapshot.seconds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
